<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>15743304421-l0utqtmogq043h9hhkk1kd2upnn9m5oh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.15743304421-l0utqtmogq043h9hhkk1kd2upnn9m5oh</string>
	<key>API_KEY</key>
	<string>AIzaSyBWfTzDoZrWg-nzb8iO6amsWw4kJ5fst1U</string>
	<key>GCM_SENDER_ID</key>
	<string>15743304421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hapk.wordtape</string>
	<key>PROJECT_ID</key>
	<string>wordtape-51</string>
	<key>STORAGE_BUCKET</key>
	<string>wordtape-51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15743304421:ios:61e35562acf98b6d2c4a0c</string>
</dict>
</plist>