<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784902004586-2qgsdjpjnprg6rekt6v26j8tjog4lddt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784902004586-2qgsdjpjnprg6rekt6v26j8tjog4lddt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>784902004586-0l2lv2qkbk02b2v3uq5ue89nba6hprr0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCGO9bHM7TlDk1P9yXbd4cgvpAAX2IEFQs</string>
	<key>GCM_SENDER_ID</key>
	<string>784902004586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hapk.wordtape</string>
	<key>PROJECT_ID</key>
	<string>wordtape-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>wordtape-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784902004586:ios:0b83a7db908bf3a176cf13</string>
</dict>
</plist>